<div class="container-fluid mt-2">
  <div class="row">
    <div class="col-sm-6 m-auto">
      <div class="card">
        <form [formGroup]="employeeregisterForm">
          <div class="card-header">
            <div class="row">
              <h1 class="text-center text-danger mt-2">
                <b>Employee Register</b>
              </h1>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div>
                <label for="" class="form-label text-dark"
                  ><b>Employee Name</b></label
                >
                <input
                  type="text"
                  name=""
                  class="form-control p-2"
                  formControlName="emp_name"
                />
                <div
                  *ngIf="
                    employeeregisterForm.get('emp_name')?.touched &&
                    employeeregisterForm.get('emp_name')?.invalid
                  "
                  style="color: red"
                >
                  <div
                    *ngIf="employeeregisterForm.get('emp_name')?.errors?.['required']"
                  >
                    Name is required
                  </div>
                  <div
                    *ngIf="employeeregisterForm.get('emp_name')?.errors?.['minlength']"
                  >
                    Enter valid Name && Atleast 3 characters.
                  </div>
                </div>
              </div>
              <div>
                <label for="" class="form-label text-dark">
                  <b>Employee Id</b></label
                >
                <input
                  type="text"
                  name=""
                  class="form-control p-2"
                  formControlName="emp_id"
                />
                <div
                  *ngIf="
                    employeeregisterForm.get('emp_id')?.touched &&
                    employeeregisterForm.get('emp_id')?.invalid
                  "
                  style="color: red"
                >
                  <small
                    *ngIf="employeeregisterForm.get('emp_id')?.errors?.['required']"
                  >
                    Id is required
                  </small>
                  <small
                    *ngIf="employeeregisterForm.get('emp_id')?.errors?.['minlength']"
                  >
                    Enter valid Id && Atleast 3 digits
                  </small>
                </div>
              </div>

              <div>
                <label for="" class="form-label text-dark">
                  <b>Employee Mail</b></label
                >
                <input
                  type="text"
                  name=""
                  class="form-control p-2"
                  formControlName="emp_mail"
                />
                <div
                  *ngIf="
                    employeeregisterForm.get('emp_mail')?.touched &&
                    employeeregisterForm.get('emp_mail')?.invalid
                  "
                  style="color: red"
                >
                  <small
                    *ngIf="employeeregisterForm.get('emp_mail')?.errors?.['required']"
                    >Email is required.</small
                  >
                  <small
                    *ngIf="employeeregisterForm.get('emp_mail')?.errors?.['pattern']"
                    >Enter a valid email.</small
                  >
                </div>
              </div>
              <div>
                <label for="" class="form-label text-dark">
                  <b>Employee Mobile Number</b></label
                >
                <input
                  type="text"
                  name=""
                  class="form-control p-2"
                  formControlName="emp_number"
                />
                <div
                  *ngIf="
                    employeeregisterForm.get('emp_number')?.touched &&
                    employeeregisterForm.get('emp_number')?.invalid
                  "
                  style="color: red"
                >
                  <div
                    *ngIf="employeeregisterForm.get('emp_number')?.errors?.['required']"
                  >
                    Mobile number is required.
                  </div>
                  <div
                    *ngIf="employeeregisterForm.get('emp_number')?.errors?.['minlength']"
                  >
                    Must be 10 digits.
                  </div>
                  <div
                    *ngIf="employeeregisterForm.get('emp_number')?.errors?.['maxlength']"
                  >
                    Must be 10 digits.
                  </div>
                </div>
              </div>

              <div>
                <label for="" class="form-label text-dark"
                  ><b>Employee Password</b></label
                >
                <input
                  type="text"
                  name=""
                  class="form-control p-2"
                  formControlName="emp_password"
                />
                <div
                  *ngIf="
                    employeeregisterForm.get('emp_password')?.touched &&
                    employeeregisterForm.get('emp_password')?.invalid
                  "
                  style="color: red"
                >
                  <div
                    *ngIf="employeeregisterForm.get('emp_password')?.errors?.['required']"
                  >
                    Password is required.
                  </div>
                  <div
                    *ngIf="employeeregisterForm.get('emp_password')?.errors?.['pattern']"
                  >
                    Must be characters and 8 letters.
                  </div>
                  <div
                    *ngIf="employeeregisterForm.get('emp_password')?.errors?.['minlength']"
                  >
                    Atleast 6 digits
                  </div>
                </div>
              </div>

              <div class="text-center">
                <button
                  class="btn btn-success text-dark btn w-50 p-2 mt-4"
                  (click)="register()"
                >
                  <b>Register</b>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
