
<div class="container-fluid mt-4">

  <div class="row">
    <div class="row">
      <div class="col-sm-6 m-auto">
        <div class="card w-50">
            <form [formGroup]="loginForm">
          <div class="card-header">
            <div class="row">
              <h1 class="text-center text-danger"> Login Form</h1>
              <p class="text-center">(Employee)</p>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div>
                <label for="" class="form-label text-primary">Mail</label>
                <input
                  type="text"
                  name=""
                  class="form-control p-2"
                  formControlName="emp_mail"
                />
              </div>
              <div>
                <label for="" class="form-label text-primary">Password</label>
                <input
                  type="text"
                  name=""
                  class="form-control p-2"
                  formControlName="emp_password"
                />
              </div>
              <div class="text-center">
                <button class="btn btn-success btn w-50 p-2 mt-4" (click)="login()">
                  Sign-in
                </button>
              </div>
              <div>
                <a routerLink="employeeregister">Don't Have An Account Register Here</a>
              </div>
            </div>
          </div>
           </form>
        </div>
      </div>
    </div>
  </div>
 
</div>
