.card1 {
  background-color: rgba(247, 237, 237, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 12px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #000;
  width: 100%;
  max-width: 500px;
  height: 150px;
}
.back{
  background-image: url("/images/bg6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  
}
.custom_navbar {
  height: 100px;
  background-color:black;
  
}
.company_name {
  font-size: 60px;
}