<div class="container-fluid hom1">
  <div class="row">
    <h1 class="mt-3">Welcome to <u>VITA OMS</u></h1>
  </div>
  <div class="row mt-5 justify-content-around">
    <div class="col-sm-4">
      <div class="row">
        <h2 class="text-dark"><b>Who We Are?</b></h2>
      </div>

      <div class="row">
        <p class="text-dark">
          "VITA" can refer to several different technologies and organizations.
          Primarily, it refers to VITA, an organization that develops and
          promotes open standards for real-time, a telepresence robot used in
          healthcare. There's also Vita Technologies, a company offering IT
          solutions, and VITA Technologies Limited, a manufacturing company in
          Bangalore. Finally, VITA is also the name of the Virginia Information
          Technologies Agency.
        </p>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="row">
        <h2 class="text-dark"><b>What We Do?</b></h2>
      </div>

      <div class="row">
        <p class="text-dark">
          Developing and promoting open standards for real-time, modular,
          embedded computing systems.
        </p>
        <P class="text-dark"
          >Developing and promoting open technology standards, improving
          interoperability, and advancing common technology.
        </P>
        <p class="text-dark">
          <b>Focus:</b> Providing IT solutions, including web development,
          mobile app development, and cybersecurity network solutions.
        </p>
      </div>
    </div>
  </div>
</div>