.hom1 {
  background-image: url("/images/bg6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  width: 100%;
}
h1 {
  font-size: 80px;
  text-align: center;
}
.card-body {
  background-color: transparent;
  backdrop-filter: blur(10px);
  border-radius: 12px;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #000;
  width: 100%;
  max-width: 500px;
  
}
