<div class="container mt-1">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card shadow">
        <form [formGroup]="profileForm">
          <div class="card-header text-dark text-center">
            <h2 class="mt-1"><b>Super Admin Profile</b></h2>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-4">
                <img src="/images/sir3.png" />
              </div>
              <div class="col-sm-8 mt-3">
                <div class="mb-3">
                  <label class="form-label fw-bold">Name</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="super_admin_name"
                  />
                </div>
                <div class="mb-3">
                  <label class="form-label fw-bold">Mobile Number</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="super_admin_number"
                  />
                </div>
                <div class="mb-3">
                  <label class="form-label fw-bold">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    formControlName="super_admin_mail"
                  />
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
