<div>
  <nav class="navbar navbar-expand-md navbar-dark px-4 custom_navbar bg-light">
    <a class="navbar-brand text-dark company_name fw-bold" routerLink="/"
      >VITA
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            class="nav-link text-dark"
            routerLink="superadminlogin"
            routerLinkActive="active"
            ><u><b>SuperAdmin</b></u></a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-dark"
            routerLink="adminlogin"
            routerLinkActive="active"
            ><u><b>Admin</b></u></a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-dark"
            routerLink="teamleadlogin"
            routerLinkActive="active"
            ><u><b>TeamLead</b></u></a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-dark"
            routerLink="employeelogin"
            routerLinkActive="active"
            ><u><b>Employee</b></u></a
          >
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>


