<div class="container-fluid mt-1">
  <div class="row">
    <div class="col-sm-6 m-auto">
      <div class="card w-75">
        <form [formGroup]="taskForm">
          <div class="card-header">
            <div class="row">
              <h1 class="text-center text-danger mt-2"><b>Task Data</b></h1>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div>
                <label for="" class="form-label text-dark"><b>Task Name</b></label>
                <input
                  type="text"
                  name=""
                  class="form-control p-2"
                  formControlName="task_name"
                />
              </div>
              <div>
                <label for="" class="form-label text-dark"><b>Task Description</b></label>
                <input
                  type="text"
                  name=""
                  class="form-control p-2"
                  formControlName="task_description"
                />
              </div>
              <div>
                <label for="" class="form-label text-dark"><b>Task Duration</b></label>
                <input
                  type="text"
                  name=""
                  class="form-control p-2"
                  formControlName="task_duration"
                />
              </div>
              
              <div class="text-center">
                <button
                  class="btn btn-success text-dark btn w-50 p-2 mt-4"
                  (click)="task()"
                >
                  <b>Submit</b>
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
